<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Avions de Chasse</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a><strong>Avions de Chasse</strong> by Nicolas et Valentin</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main" class="align">
						{{#each avions}}
						<article class="thumb">
							<a href="{{url}}" class="image"><img src="{{url}}" alt="" />
						<center>	<h2 class="paddingcoeur grand"><i class="fa fa-heart" aria-hidden="true"></i> {{votes}}</h2></center>
							</a>
							<center><a href="/vote/{{id}}" class="button special">Votez pour ce modèle</a></center>
						</article>
						{{/each}}
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Projet de Web Application</h2>
									<p>Projet réalisé par deux étudiants d'IBO dans le cadre d'un rendu de fin d'année</p>
								</section>
								<p class="copyright">
									&copy; Untitled. Design: <a href="www.justdev.fr">JustDev.fr</a>.
								</p>
							</div>
							<div>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
